<% layout("./layouts/boilerplate")%>

<h1 class="text-center text-3xl my-8">All Playing Cards</h1>
<ul class="flex flex-wrap">
    <% for (let playingCard of playingCards) { %>
    <li>
        <a href="playingCards/<%=playingCard.id%>"><%= playingCard.name %></a>
        <p><%=playingCard.description%></p>
        <p><%=playingCard.company%></p>

    </li>
    <% } %>
</ul>